
.top {
    max-width: 1448px;
    height: 53px;
    border-bottom: 1px solid #DBDBDB; 
    display: flex;
}

.instagram {
    margin-left: 243px;
}

.search-field {
    width: 215px;
    height: 29px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
}

.search-field::placeholder {
    width: 44px;
    height: 17px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #8F8F8F;
}
